body{
    background-color:rgb(231, 231, 231);
}
.navbar {
    justify-content: space-around;
    background-color: white;
}
h2 {
    font-family: 'Oleo Script', cursive;
    color: gray;
}
.fa-instagram {
    margin-right: 2%;
    color: gray;
    font-size: 35px;
}
#message-text {
    width: 100%;
}
#pills-tab {
    padding: 2%;
}
.nav-link, a, a:hover, a:active {
    color: gray;
}
.numeracion{
    display: inline;
    float: right;
    color: gray;
}
.comment {
    display: inline;
}
.menu-footer {
    display: inline;
    float: right;
}