body{
    background-color:rgb(231, 231, 231);
}
.container{
    width: 680px;
    background-color: white;
}
h1{
    color: gray;
    margin: 0px;
}
h2 {
    font-family: 'Oleo Script', cursive;
    color: gray;
    margin-left: 40px;
    margin-top: -35px;
}
h5{
    color: gray;
    margin: 0px;
}
.fa-instagram {
    margin-left: 100px;
    color: gray;
    font-size: 35px;
}
.fa-cog {
    color: gray;
    margin-left: 10px;
    font-size: 20px;
}
.form-inline {
    margin-right: 150px;
}
#message-text {
    width: 100%;
}
.form-group {
    padding: 2%;
}
#pills-tab {
padding-top: 10px;
}
.text-muted {
    margin-top: 10px;
}
.fa-heart {
    padding-right: 10px;
}
.title-post {
    width: 50%;
    margin: 0px;
    padding: 0px;
}
.num-post {

    width: 20%;
    margin-top: 0px;
    margin-left: 90%;
}